<%= form_with(model: lift) do |form| %>
  <% if lift.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lift.errors.count, "error") %> prohibited this lift from being saved:</h2>

      <ul>
        <% lift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% form.label :driver_name, style: "display: block" %>
    <%= form.text_field :driver_name, required: true, class:"form-control", placeholder:"Driver's name" %>
  </div>

  <div class="form-group">
    <%= form.date_field :date, required: true, class:"form-control", placeholder:"Date" %>
  </div>

  <div class="form-group">
    <%= form.time_field :time, required: true, class:"form-control", placeholder:"Time" %>
  </div>

  <div class="form-group">
    <%= form.text_field :start_location, required: true, class:"form-control", placeholder:"Start location" %>
  </div>

  <div class="form-group">
    <%= form.text_field :destination, required: true, class:"form-control", placeholder:"Destination" %>
  </div>

  <div class="form-group">
    <%= form.text_field :cost, required: true, class:"form-control", placeholder:"Cost" %>
  </div>

  <div class="form-group">
    <%= form.text_field :contact_number, required: true, class:"form-control", placeholder:"Contact number" %>
  </div>

  <div>
    <br><br/>
    <%= form.submit class: "btn btn-dark"%>
  </div>
<% end %>
