<div id="<%= dom_id lift %>">
  <p>
    <strong>Driver name:</strong>
    <%= lift.driver_name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= lift.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= lift.time %>
  </p>

  <p>
    <strong>Start location:</strong>
    <%= lift.start_location %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= lift.destination %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= lift.cost %>
  </p>

</div>
