<p style="color: green"><%= notice %></p>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Driver name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Start location</th>
      <th>Destination</th>
      <th>Cost</th>
      <th>Contact number</th>
      <th>&nbsp</th> <!-- Empty headers for actions column -->
      <th>&nbsp</th>
      <th>&nbsp</th>
    </tr>
  </thead>

  <tbody>   
    <% @lifts.each do |lift| %>
      <%= content_tag :tr, id: dom_id(lift) do %>
        <td><%= lift.driver_name %></td>
        <td><%= lift.date %></td>
        <td><%= lift.time.strftime('%H:%M') %></td>
        <td><%= lift.start_location %></td>
        <td><%= lift.destination %></td>
        <td><%= lift.cost %></td>
        <td><%= lift.contact_number %></td>
        <td>
          <%= link_to "Show", lift, class: "btn btn-secondary btn-sm"%>
        </td>

        <% if lift.user == current_user %>
          <td>
            <%= link_to "Edit", edit_lift_path(lift), class: "btn btn-secondary btn-sm" %>
          </td>
          <td>
            <%= link_to "Delete", lift, class: "btn btn-secondary btn-sm", 
                  data: {
                    turbo_method: :delete, 
                    turbo_confirm: 'Are you sure you want to delete this lift?'
                  } %>
          </td>
        <% else %>
          <td>
            <%= link_to "Book lift", bookings_path(lift), class: "btn btn-secondary btn-sm" %>
          </td>
        <% end %>

      <% end %>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to "Add new lift", new_lift_path, class: "btn btn-dark" %>
