<p style="color: green"><%= notice %></p>

<div class="container-fluid text-sm-left p-5 bg-light">
  <h4 class="display-4">
		<%= @lift.driver_name %>
	</h4>
	<p class="lead">
		<br/>
		<strong>Date:  </strong><%= @lift.date %><br>
		<strong>Time:  </strong><%= @lift.time.strftime('%H:%M') %><br>
		<strong>Start location:  </strong><%= @lift.start_location %><br>
		<strong>Destination:  </strong><%= @lift.destination %><br>
		<strong>Cost:  </strong><%= @lift.cost %><br>
		<strong>Contact number:  </strong><%= @lift.contact_number %><br>
	</p>
	<div>
		<br>
		<br/>
		<%= link_to "Edit", edit_lift_path(@lift), class: "btn btn-secondary btn-sm" %>
		<%= link_to "Back", lifts_path, class: "btn btn-secondary btn-sm" %><br/>
	</div>
</div>
